 <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
          <%= @friend.first_name %>
          <%= @friend.last_name %>
        </h1>
        <br>
        <p class="col-md-8 fs-4">
          <%= @friend.email %> | 
          <%= @friend.phone %> | 
          <%= @friend.twitter %>
        </p>
        <br>
        <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %> 
        <%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger " %>
        <%= link_to 'Back', friends_path, class:"btn btn-dark" %>
      </div>
    </div>





